# Vivado Log and Journal files
*.log
*.jou
*.str

#Vivado project directories to ignore
*/.Xil/
*.cache
*.hw/
*.ip_user_files/
*.runs/
*sim/
*.gen/

# AMD BSP files to ignore
# While keeping these would be ideal, GitHub limits the file size
# and given that these are ~3-5GiB each they can't be stored on GitHub
*.bsp
#SDK/Vitis metadata
.metadata/
/Workspace/

#PetaLinux project directorie to ignore
petalinux-docker/workspace/KR260_ADRC/build/*
petalinux-docker/workspace/KR260_ADRC/images/*
petalinux-docker/workspace/KR260_ADRC/components/*
petalinux-docker/workspace/KR260_ADRC/.petalinux
petalinux-docker/petalinux-cache/sstate/*
petalinux-docker/petalinux-cache/downloads/*
petalinux-docker/workspace/_inputs/*
petalinux-install/*
petalinux-docker/workspace/KR260_ADRC/project-spec/*
#Force keep directory structure for future cloning
!petalinux-docker/petalinux-cache/.gitkeep
!petalinux-docker/petalinux-cache/downloads/.gitkeep
!petalinux-docker/petalinux-cache/sstate/.gitkeep
!petalinux-docker/workspace/_inputs/.gitkeep
!petalinux-install/.gitkeep
vivado_project/KR260_CarrierBoard_ADRC/KR260_CarrierBoard_ADRC.srcs*

#Kernel Modules
ubuntuArm-Docker/modules/hello
