# Vivado Log and Journal files
*.log
*.jou
*.str

#Vivado project directories to ignore
*/.Xil/
*.cache
*.hw/
*.ip_user_files/
*.runs/
*sim/
*.gen/

#SDK/Vitis metadata
.metadata/
/Workspace/

#PetaLinux project directorie to ignore
petalinux-docker/workspace/KR260_ADRC/build/*
petalinux-docker/workspace/KR260_ADRC/images/*
petalinux-docker/workspace/KR260_ADRC/components/*
petalinux-docker/workspace/KR260_ADRC/.petalinux
